@use "../helpers" as *;

.full-row {
  max-width: rem(3000);
  margin-inline: auto;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  @include medium {
    padding-top: rem(40);
  }
  &__container {
    padding-right: calc((100% - var(--container-width)) / 2);
    display: flex;
    gap: fluid(30, 55);
    justify-content: space-between;
    @include medium {
      flex-direction: column-reverse;
      padding: 0 rem(20);
    }
  }

  &__image {
    align-self: flex-end;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include medium {
        width: 70%;
      }
      @include small {
        width: 100%;
      }
    }
  }

  &__content {
    align-self: center;
    flex: 0 0 rem(608);
    color: #fff;
    padding-right: rem(20);
    padding-block: rem(40);
    @include large {
      flex: 0 0 50%;
    }
    @include medium {
      padding: 0;
      flex: 0 1 auto;
    }
  }

  &__title {
    margin-bottom: fluid(20, 36);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    font-size: fluid(16, 20);
    line-height: 1.4;
  }
}
